.input-group{
    width:400px;
    padding-bottom:20px
}

.parent {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .cc-selector-2 input {
    position: absolute;
    z-index: 999;
  }
  
  .sneakers {
    background-image: url('/img/sneakers.jpg');
  }

  .sneakers1 {
    background-image: url('/img/sneakers1.jpg');
  }
  

  .watch1 {
    background-image: url('/img/wwatch1.jpg');
  }

  .cc-selector-2 input:active +.drinkcard-cc,
  .cc-selector input:active +.drinkcard-cc {
    opacity: .9;
  }
  
  .cc-selector-2 input:checked +.drinkcard-cc,
  .cc-selector input:checked +.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
  }
  
  .drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
  }
  
  .drinkcard-cc:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
  }
  
  
  /* Extras */
  
  a:visited {
    color: #888
  }
  
  a {
    color: #444;
    text-decoration: none;
  }
  
  p {
    margin-bottom: 1em;
  }

.productImage{
width: 100%;
}
.mt-60{
margin-top: 60px
}
.p30{
  padding: 30px;
}

* {
  margin: 0;
  padding: 0;
}

	body {
  /* background: #f9f9f9;
  color: #666; */
  font: 11px/14px Arial, Helvetica, sans-serif;
} 

.color-wrapper {
  position: relative;
  width: 250px;
  margin: 20px 0;
}

.color-wrapper p {
  margin-bottom: 5px;
}

input.call-picker {
  border: 1px solid #AAA;
  color: #666;
  text-transform: uppercase;
  float: left;    
  outline: none;
  padding: 10px;
  text-transform: uppercase;
  width: 85px;
}

.color-picker {
  width: 135px;
  background: #F3F3F3;
  height: 89px;
  padding: 5px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 3px 1px #DDD;
  position: absolute;
  top: -20px;
  right: -25px;
  z-index: 22;
}


.color-holder {
  background: rgb(78, 46, 219);
  cursor: pointer;
  border: 1px solid #AAA;
  width: 40px;
  height: 36px;
  float: left;
  margin-left: 5px;
}

.product-holder .product-image{

  background: url('/img/sneakers.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;  
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 10px;

}
/* .product-holder img{
  max-width: 300px;
  max-height: 300px;
} */


.product-name{
  font-size: 16px;
}
.product-price{
  font-size: 14px;
}


.color-holder2 {
  cursor: pointer;
  border: 1px solid #AAA;
  width: 40px;
  height: 36px;
  float: none;
  margin-left: 0;
}

div#color-picker.color-picker  li.color-item {
  cursor: pointer;
  width: 10px;
  height: 10px;
  list-style-type: none;
  float: left;
  margin: 2px;
  border: 1px solid #DDD;
}
.ptitle{
  margin-top: 40px;
}

.mt-50{
  margin-top: 50px;
}

.color-picker .color-item:hover {
  border: 1px solid #666;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
}

textarea{
  margin-top: 10%;
}

/* input[type=text] {
  background-color: #eee;
  border-radius: 3px;;  
} */